# ETL

In [1]:
#!which python

In [2]:
import pandas as pd
import sqlite3
import numpy as np
import re
import pycountry_convert as pc

## Import the data from our database

In [3]:
db = 'dataBases//world_cups_squads.db'

In [4]:
def load_table_as_df(database):
    conn = sqlite3.connect(database)
    df = pd.read_sql_query("SELECT * FROM squads", conn)
    conn.close()
    return df

In [5]:
df = load_table_as_df(db)

## Explore the data

In [6]:
df.head()

,player,national_team,shirt_number,position,birthday,caps,goals,club,club_origin,wc_date
0,Ángel Bossio,Argentina,None,GK,(1905-05-05),16,NaN,Talleres (BA),Argentina,1930-07-17
1,Juan Botasso,Argentina,None,GK,(1908-10-23),2,NaN,Argentino (Q),Argentina,1930-07-17
2,Roberto Cherro,Argentina,None,FW,(1907-02-23),10,NaN,Boca Juniors,Argentina,1930-07-17
3,Alberto Chividini,Argentina,None,DF,(1907-02-23),2,NaN,Central Norte,Argentina,1930-07-17
4,Attilio Demaría,Argentina,None,FW,(1909-03-19),0,NaN,Estudiantil Porteño,Argentina,1930-07-17

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10964 entries, 0 to 10963
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player         10964 non-null  object
 1   national_team  10964 non-null  object
 2   shirt_number   10074 non-null  object
 3   position       10964 non-null  object
 4   birthday       10964 non-null  object
 5   caps           10932 non-null  object
 6   goals          1567 non-null   float64
 7   club           10964 non-null  object
 8   club_origin    10960 non-null  object
 9   wc_date        10964 non-null  object
dtypes: float64(1), object(9)
memory usage: 856.7+ KB

### Search for null values and treat them if needed

In [8]:
df.isna().any().any()

True

In [9]:
def get_nan_in_df(dataFrame):
    # count all null values in each column, sort them by the amount of null values.
    nanValues = dataFrame.isna().sum().sort_values(ascending=False)
    # get the percentage of those values
    nanValuesPrct = (nanValues/len(dataFrame) )*100
    
    return nanValuesPrct

In [10]:
get_nan_in_df(df)

goals            85.707771
shirt_number      8.117475
caps              0.291864
club_origin       0.036483
player            0.000000
national_team     0.000000
position          0.000000
birthday          0.000000
club              0.000000
wc_date           0.000000
dtype: float64

## Data Transformation

We'll drop the following columns:


|Column        |Reason                            |
|--------------|----------------------------------|
|    "goals"   |86% of the column values are null.|
|"shirt_number"| It's irrelevant for our analysis |

In [11]:
df.drop(columns = ['goals','shirt_number'], inplace = True)

### convert 'wc_date' data type to datetime

In [12]:
df['wc_date'] = pd.to_datetime(df['wc_date'])

### Create a column to contain the year of a given world cup

In [13]:
df['year'] = df['wc_date'].dt.strftime('%Y').astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10964 entries, 0 to 10963
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player         10964 non-null  object
 1   national_team  10964 non-null  object
 2   position       10964 non-null  object
 3   birthday       10964 non-null  object
 4   caps           10932 non-null  object
 5   club           10964 non-null  object
 6   club_origin    10960 non-null  object
 7   wc_date        10964 non-null  datetime64[ns]
 8   year           10964 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(7)
memory usage: 728.2+ KB

In [15]:
capsNan = df[df.caps.isna()]
len(capsNan)

32

Even though there are only a few nan registers, we'd like to keep them all and see if we can get the data from other sources or input a value.

 We'll calculate the median among these footballer's teammates. Then we'll apply it to the formers.

#### Optimize memory usage

In [16]:
# 16 bits range goes from −32,768 to 32,767

In [17]:
df.year = pd.Series(df.year, dtype=pd.Int16Dtype()) #from now on it'll use pandas.NA as missing value, instead of numpy.nan.

### replace

Let's find the different values in the column 'caps'

In [18]:
# get a data frame that contains both, the unique values and their counts 
value_caps = df.caps.value_counts().reset_index().rename(columns={'index':'value'})

In [19]:
# convert the values to a list
values_caps_list = value_caps.value.tolist()

In [20]:
#values_caps_list.sort()  # can't sort this time, because the list has a mix of str and int values
#values_caps_list

In [21]:
# Let's see if we can filter the weird values. They don't look like integers, so let's try the following.
for element in values_caps_list:
    if type(element) ==str:
        print(element)

?
0-
-
1[7]
7*
32*

In [22]:
# Great! Let's replace them.
df.caps.replace({'?':np.nan, '-': np.nan, '0-': 0, '1[7]':1, '7*':7, '32*':32  }, inplace=True )

We've added a few nan values. So let's check the missing values count again.

In [23]:
capsNan = df[df.caps.isna()]
len(capsNan)

138

### Create a list of tuples with all the teams having nan values in column 'caps'

In [24]:
nan_grouped = capsNan.groupby(['national_team','year'])['caps'].unique()

In [25]:
nan_grouped = nan_grouped.to_frame().reset_index().drop(columns = 'caps')
#nan_grouped

In [26]:
unique_nan_list = list(zip(nan_grouped.national_team, nan_grouped.year))

In [27]:
print(unique_nan_list)

[('Algeria', 1982), ('Algeria', 1986), ('Belgium', 1934), ('Bolivia', 1994), ('Brazil', 1954), ('Cameroon', 1982), ('Cameroon', 1990), ('Colombia', 1994), ('Costa Rica', 1990), ('Czechoslovakia', 1938), ('Egypt', 1934), ('Egypt', 1990), ('El Salvador', 1970), ('El Salvador', 1982), ('Haiti', 1974), ('Honduras', 1982), ('Iran', 1978), ('Kuwait', 1982), ('Morocco', 1970), ('Morocco', 1986), ('New Zealand', 1982), ('North Korea', 1966), ('Paraguay', 1930), ('Paraguay', 1950), ('Paraguay', 1958), ('Paraguay', 1986), ('Peru', 1970), ('Peru', 1982), ('Romania', 1938), ('Saudi Arabia', 1994), ('South Korea', 1954), ('South Korea', 1990), ('South Korea', 1994), ('Switzerland', 1934), ('Tunisia', 1978), ('Zaire', 1974)]

Remove the (1950, Paraguay) tuple, since all their corresponding cells in the column 'caps' are null.

In [28]:
unique_nan_list.remove(('Paraguay', 1950))

### Create a column to register the imputed values

In [29]:
df['imputed']  = '-'

### Impute values

In [30]:
def get_a_team(nation_name, wc_year):
    team = df[(df.national_team == nation_name) &(df.year == wc_year)]
    return team

In [31]:
def get_team_median(nation_name, wc_year):
    # Obtain a data frame of a particular team 
    team = get_a_team(nation_name, wc_year)
    # and get its caps median
    team_median = team.caps.median()
    # In case the median is a rational number, round it up
    team_median = np.ceil(team_median)
    return team_median

In [32]:
def get_team_nans_list(nation_name, wc_year, column_name):
    # call get_a_team to get the data frame of the desired team
    team_nans = get_a_team(nation_name, wc_year)
    # filter the data frame by nan values in the selected column(passed as parameter)
    team_nans = team_nans[(team_nans[column_name].isna()== True)]
    # make a list with the indexes of the filtered data frame
    listed_by_index = team_nans.index.to_list()
    return listed_by_index

In [33]:
# Void function
def fill_nan_in_team(nation_name, wc_year, column_name):
    # Get all the indexes that represent footballers with no caps data, and for each of them 
    for index in get_team_nans_list(nation_name, wc_year, column_name):
    # calculate the respective team's median. Then, impute this median to each record in the original data frame.
        df.at[index, column_name] = get_team_median(nation_name, wc_year)

In [34]:
# This function records and points out in which column of the data frame an imputation was made.
def record_imputation(a_list,column_name):
    for element in a_list:
        df.at[element,'imputed'] = column_name

In [35]:
def fill_all(list_of_tuples, name_of_column):
    # iterate over a list of tuples (of the form (country, year)) 
    for elemento in list_of_tuples:
        # call the functions above to do all the job at once
        list_of_indexes = get_team_nans_list(elemento[0], elemento[1], name_of_column)
        fill_nan_in_team(elemento[0], elemento[1], name_of_column)
        record_imputation(list_of_indexes, name_of_column)

In [36]:
fill_all(unique_nan_list, 'caps')

Let's fill in the  null values of  the Paraguay national team of 1950.

In [37]:
capsNan = df[df.caps.isna()]
len(capsNan)

22

In [38]:
#capsNan

In [39]:
list_indexes = capsNan.index.to_list()

In [40]:
print(list_indexes)

[1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049]

We decided to calculate the median of all the South American teams in the tournament and impute that value to the Paraguayan national team.

In [41]:
df1950 = df[df.year == 1950]

In [42]:
df1950Bol = df1950[(df1950.national_team == 'Bolivia')]
df1950Bra = df1950[(df1950.national_team == 'Brazil')]
df1950Chi = df1950[(df1950.national_team == 'Chile')]
df1950Uru = df1950[(df1950.national_team == 'Uruguay')]

In [43]:
df1950SAm = pd.concat([df1950Bol, df1950Bra, df1950Chi, df1950Uru])

In [44]:
for element in list_indexes:
        # impute value
        df.at[element,'caps']  = df1950SAm.caps.median()
        # record the imputation
        df.at[element,'imputed'] = 'caps'

In [45]:
# optimize the memory usage
df.caps = pd.Series(df.caps, dtype=pd.Int16Dtype())

### Column 'national_team'

Normalize Yugoslavia's name.

In [46]:
teams = df.national_team.unique().tolist()
teams.sort()

In [47]:
print(teams)

['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China PR', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Czech Republic', 'Czechoslovakia', 'Denmark', 'Dutch East Indies', 'East Germany', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'FR Yugoslavia', 'France', 'Germany', 'Ghana', 'Greece', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'Iran', 'Iraq', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Kuwait', 'Mexico', 'Morocco', 'Netherlands', 'New Zealand', 'Nigeria', 'North Korea', 'Northern Ireland', 'Norway', 'Panama', 'Paraguay', 'Peru', 'Poland', 'Portugal', 'Qatar', 'Republic of Ireland', 'Romania', 'Russia', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Serbia and Montenegro', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay', 'Wales', 'West Germany', 'Yugoslavia', 'Zaire']

In [48]:
yugo = df[df.national_team == 'FR Yugoslavia'].index.tolist()

In [49]:
for ind in yugo:
    df.at[ind, 'national_team'] = 'Yugoslavia'

### Column 'club_origin'

In [50]:
club_originNan = df[df.club_origin.isna()]
club_originNan

,player,national_team,position,birthday,caps,club,club_origin,wc_date,year,imputed
3303,Alberto Tarantini,Argentina,DF,(1955-12-03),26,Free agent[1],None,1978-06-01,1978,-
7973,Craig Moore,Australia,DF,(1975-12-12),50,Unattached,None,2010-06-11,2010,-
8345,Simon Elliott,New Zealand,MF,(1974-06-10),63,Unattached,None,2010-06-11,2010,-
8355,Dave Mulligan,New Zealand,MF,(1982-03-24),25,Unattached,None,2010-06-11,2010,-

In [51]:
df.at[3303,'club'], df.at[3303,'club_origin'] = 'Free Agent', '-'
df.at[7973,'club'], df.at[7973,'club_origin'] = 'Kavala', 'Greece'
df.at[8345,'club'], df.at[8345,'club_origin'] = 'San Jose Earthquakes', 'United States'
df.at[8355,'club'], df.at[8355,'club_origin'] = 'Wellington Phoenix', 'New Zealand'

In [52]:
# normalize Yugoslavia's name
#df['club_origin'] = df[df['club_origin'].apply(lambda x: x.replace('Socialist Federal Republic of',''))]

In [53]:
# get_nan_in_df(df)

### Normalize column 'player'

As far as we can see, this data has several punctuation marks we need to remove.

In [54]:
punctuation = ['!','"','#','$','~','%','&','\'','(',')','*','+',',','-','.','/',':',';',
               '<','=','>','?','@','[','\\',']','^','_','`','{','|','}']

We can filter the data frame by all the registers in the column 'player' that contain punctuation marks.

In [55]:
def find_punctuation(a_string):
    for element in punctuation:
        if element != '-':
            if element in a_string:
                return True
    return False

In [56]:
dfPunt = df[df.player.apply(find_punctuation)]

In [57]:
#dfPunt

In [58]:
# Split the strings on the first unwanted char, then keep the first element of the resulting list, that's the desired value.
df.player = df.player.apply(lambda x: x.split('[')[0])
df.player = df.player.apply(lambda x: x.split(' (')[0])
df.player = df.player.apply(lambda x: x.split('*')[0])

In [59]:
# Getting rid of footballers' nicknames by removing all those chars between quotation marks or between apostrophes
df.player = df.player.apply(lambda x: re.sub(r'"([A-Za-z0-9_\./\\-]*)"' ,'' , x))
df.player = df.player.apply(lambda x: re.sub(r"'([A-Za-z0-9_\./\\-]*)'" ,'' , x))

In [60]:
from unidecode import unidecode

In [61]:
# Apply unidecode to column 'player' to normalize the name of the players
df['player'] = df['player'].apply(lambda x: unidecode(x))

In [62]:
df

,player,national_team,position,birthday,caps,club,club_origin,wc_date,year,imputed
0,Angel Bossio,Argentina,GK,(1905-05-05),16,Talleres (BA),Argentina,1930-07-17,1930,-
1,Juan Botasso,Argentina,GK,(1908-10-23),2,Argentino (Q),Argentina,1930-07-17,1930,-
2,Roberto Cherro,Argentina,FW,(1907-02-23),10,Boca Juniors,Argentina,1930-07-17,1930,-
3,Alberto Chividini,Argentina,DF,(1907-02-23),2,Central Norte,Argentina,1930-07-17,1930,-
4,Attilio Demaria,Argentina,FW,(1909-03-19),0,Estudiantil Porteño,Argentina,1930-07-17,1930,-
...,...,...,...,...,...,...,...,...,...,...
10959,Sorba Thomas,Wales,MF,(1999-01-25),6,Huddersfield Town,England,2022-11-20,2022,-
10960,Dylan Levitt,Wales,MF,(2000-11-17),13,Dundee United,Scotland,2022-11-20,2022,-
10961,Ben Cabango,Wales,DF,(2000-05-30),5,Swansea City,Wales,2022-11-20,2022,-
10962,Rubin Colwill,Wales,MF,(2002-04-27),7,Cardiff City,Wales,2022-11-20,2022,-
10963,Matthew Smith,Wales,MF,(1999-11-22),19,Milton Keynes Dons,England,2022-11-20,2022,-

### Normalize  column 'birthday'

In [63]:
list_of_birthdays = df.birthday.tolist()

In [64]:
list_of_birthdays

[' (1905-05-05)',
 ' (1908-10-23)',
 ' (1907-02-23)',
 ' (1907-02-23)',
 ' (1909-03-19)',
 ' (1906-03-23)',
 ' (1902-06-20)',
 ' (1908-12-10)',
 ' (1905-10-22)',
 ' (1901-05-15)',
 ' (1899-03-12)',
 ' (1905-01-01)',
 ' (1903-05-24)',
 ' (1900-12-28)',
 ' (1908-09-13)',
 ' (1905-10-03)',
 ' (1908-05-12)',
 ' (1902-02-05)',
 ' (1905-01-17)',
 ' (1908-06-05)',
 ' (1910-02-05)',
 ' (1902-01-05)',
 ' (1903-05-03)',
 ' (1909-06-26)',
 ' (1900-10-26)',
 ' (1901-03-16)',
 ' (1892-05-09)',
 ' (1905-05-17)',
 ' (1907-08-03)',
 ' (1903-09-01)',
 ' (1908-09-14)',
 ' (1907-09-14)',
 ' (1900-12-29)',
 ' (1900-09-06)',
 ' (1908-02-17)',
 ' (1911-02-20)',
 ' (1908-12-05)',
 ' (1910-05-10)',
 ' (1910-09-19)',
 ' (1906-11-25)',
 ' (1902-01-24)',
 ' (1901-06-13)',
 ' (1907-01-01)',
 ' (1901-08-03)',
 ' (1912-03-17)',
 ' (1906-01-01)',
 ' (1907-01-21)',
 ' (1903-04-06)',
 ' (1904-01-01)',
 ' (1898-03-24)',
 '\n',
 ' (1907-01-01)',
 ' (1911-06-05)',
 ' (1899-12-14)',
 ' (1906-12-12)',
 ' (1905-07-17)',
 ' (1906-10-30)',
 ' (1904-11-05)',
 ' (1912-06-25)',
 ' (1905-01-28)',
 ' (1906-03-01)',
 ' (1901-09-09)',
 ' (1908-11-04)',
 ' (1907-05-22)',
 ' (1910-05-16)',
 ' (1904-05-01)',
 ' (1907-08-22)',
 ' (1902-07-14)',
 ' (1903-04-03)',
 ' (1907-01-17)',
 ' (1904-03-24)',
 ' (1909-01-26)',
 ' (1905-02-08)',
 ' (1902-12-18)',
 ' (1900-04-11)',
 ' (1908-09-25)',
 ' (1904-11-16)',
 ' (1903-10-23)',
 ' (1908-08-21)',
 ' (1901-01-04)',
 ' (1905-01-14)',
 ' (1905-02-02)',
 ' (1904-09-10)',
 ' (1900-09-28)',
 ' (1905-05-10)',
 '1 January 1900 (aged 30)\n',
 ' (1910-04-20)',
 ' (1897-02-02)',
 ' (1902-02-10)',
 ' (1903-11-05)',
 ' (1902-06-21)',
 ' (1902-02-25)',
 ' (1906-10-20)',
 '1 January 1906 (age 24)\n',
 ' (1902-02-24)',
 ' (1908-04-01)',
 ' (1908-03-19)',
 ' (1904-12-11)',
 ' (1906-11-11)',
 ' (1907-11-01)',
 ' (1907-02-15)',
 ' (1908-06-02)',
 ' (1906-12-30)',
 ' (1907-12-10)',
 ' (1906-03-22)',
 ' (1903-06-28)',
 ' (1905-12-25)',
 ' (1908-07-08)',
 ' (1902-12-24)',
 ' (1906-07-30)',
 ' (1907-06-12)',
 ' (1904-12-24)',
 ' (1907-08-03)',
 ' (1905-10-05)',
 ' (1907-08-14)',
 '1 January 1900 (age 30)\n',
 ' (1896-12-13)',
 ' (1904-03-14)',
 '1 January 1905 (age 25)\n',
 ' (1907-11-18)',
 ' (1907-01-06)',
 '18 November 1907 (age 22)\n',
 '1 January 1907 (age 23)\n',
 '15 April 1905 (age 25)\n',
 ' (1910-02-05)',
 ' (1912-04-17)',
 '1 January 1904 (age 26)\n',
 ' (1908-05-24)',
 ' (1902-02-04)',
 '1908\n',
 ' (1901-01-12)',
 '1906\n',
 ' (1910-09-24)',
 '\n',
 '\n',
 '1901\n',
 '1901\n',
 '1902\n',
 ' (1906-12-15)',
 '\n',
 '1906\n',
 '1907\n',
 ' (1905-09-25)',
 ' (1903-09-23)',
 '1904\n',
 ' (1907-12-21)',
 '\n',
 '\n',
 '1906\n',
 ' (1907-04-23)',
 '\n',
 ' (1905-08-15)',
 ' (1910-07-01)',
 ' (1901-01-31)',
 ' (1906-08-07)',
 ' (1910-04-10)',
 ' (1906-03-09)',
 ' (1904-11-30)',
 ' (1911-06-05)',
 ' (1908-09-15)',
 ' (1902-11-29)',
 ' (1908-12-15)',
 ' (1908-06-22)',
 ' (1909-12-19)',
 ' (1904-07-13)',
 ' (1910-08-30)',
 ' (1900-11-02)',
 ' (1906-03-10)',
 ' (1904-06-30)',
 ' (1910-05-06)',
 ' (1908-06-04)',
 ' (1908-03-02)',
 ' (1908-10-31)',
 ' (1906-06-11)',
 ' (1909-03-24)',
 ' (1908-04-07)',
 ' (1911-12-23)',
 ' (1908-12-08)',
 ' (1905-04-23)',
 ' (1908-05-23)',
 ' (1907-09-24)',
 ' (1907-01-24)',
 ' (1906-01-01)',
 ' (1905-08-12)',
 ' (1901-03-17)',
 ' (1900-11-10)',
 ' (1900-01-26)',
 ' (1904-09-12)',
 ' (1908-12-31)',
 ' (1898-01-12)',
 ' (1897-09-06)',
 ' (1901-06-07)',
 ' (1904-07-21)',
 ' (1908-08-10)',
 ' (1899-04-30)',
 ' (1901-05-04)',
 ' (1907-05-22)',
 ' (1909-11-04)',
 ' (1907-01-20)',
 ' (1904-02-06)',
 ' (1902-02-18)',
 ' (1907-06-12)',
 ' (1901-11-22)',
 ' (1902-04-30)',
 ' (1905-01-18)',
 ' (1906-06-26)',
 ' (1904-01-05)',
 ' (1904-11-29)',
 ' (1900-09-01)',
 ' (1908-06-22)',
 ' (1900-05-20)',
 ' (1907-05-17)',
 ' (1902-11-02)',
 ' (1907-11-21)',
 ' (1905-03-22)',
 ' (1901-05-24)',
 ' (1905-05-11)',
 ' (1905-06-17)',
 ' (1904-11-03)',
 ' (1903-11-05)',
 ' (1903-10-26)',
 ' (1898-11-26)',
 ' (1899-07-27)',
 ' (1900-03-30)',
 ' (1906-06-06)',
 ' (1909-10-29)',
 ' (1911-02-27)',
 ' (1908-06-05)',
 ' (1906-03-03)',
 ' (1909-09-19)',
 ' (1907-09-09)',
 ' (1900-01-01)',
 ' (1906-12-13)',
 ' (1908-04-15)',
 ' (1906-10-29)',
 ' (1909-01-21)',
 ' (1910-01-04)',
 ' (1911-12-28)',
 ' (1910-07-15)',
 ' (1909-11-08)',
 ' (1909-11-29)',
 ' (1907-09-25)',
 '\n',
 ' (1909-02-01)',
 '\n',
 ' (1911-01-24)',
 ' (1911-05-22)',
 ' (1912-03-04)',
 ' (1914-03-02)',
 ' (1915-03-21)',
 '\n',
 ' (1910-09-15)',
 '\n',
 ' (1905-10-13)',
 ' (1909-06-06)',
 '\n',
 ' (1911-02-04)',
 ' (1907-08-12)',
 '1909\n',
 ' (1913-09-25)',
 ' (1907-02-22)',
 ' (1908-11-28)',
 ' (1905-03-06)',
 ' (1910-05-21)',
 ' (1905-10-31)',
 ' (1903-05-20)',
 ' (1904-05-01)',
 ' (1911-02-09)',
 ' (1910-05-29)',
 ' (1911-02-07)',
 ' (1907-06-22)',
 ' (1911-06-16)',
 ' (1906-03-18)',
 ' (1903-02-10)',
 ' (1905-11-28)',
 ' (1913-03-05)',
 ' (1910-10-10)',
 ' (1902-11-12)',
 ' (1911-09-23)',
 ' (1906-03-23)',
 ' (1910-08-28)',
 ' (1909-06-26)',
 ' (1908-12-13)',
 ' (1911-07-29)',
 ' (1913-10-26)',
 ' (1908-06-18)',
 ' (1913-08-21)',
 ' (1902-12-14)',
 ' (1907-09-14)',
 ' (1906-04-13)',
 ' (1908-03-03)',
 ' (1911-03-18)',
 ' (1908-07-04)',
 ' (1905-11-05)',
 ' (1913-02-15)',
 ' (1914-05-29)',
 ' (1904-04-10)',
 ' (1911-01-17)',
 ' (1912-01-23)',
 ' (1909-06-21)',
 ' (1908-12-05)',
 ' (1910-05-10)',
 ' (1908-12-12)',
 ' (1910-02-22)',
 ' (1911-03-06)',
 ' (1910-12-16)',
 ' (1907-03-12)',
 ' (1912-06-25)',
 ' (1912-11-19)',
 ' (1911-03-14)',
 ' (1913-11-06)',
 ' (1909-11-29)',
 ' (1911-03-29)',
 ' (1911-03-02)',
 ' (1909-11-21)',
 ' (1904-03-24)',
 ' (1910-11-12)',
 ' (1913-07-08)',
 ' (1908-05-15)',
 ' (1904-12-02)',
 ' (1912-03-21)',
 ' (1913-05-17)',
 ' (1912-11-13)',
 ' (1906-03-07)',
 ' (1908-12-17)',
 ' (1906-09-30)',
 ' (1910-05-31)',
 ' (1907-01-17)',
 ' (1913-05-30)',
 ' (1912-10-14)',
 ' (1909-08-31)',
 ' (1906-03-05)',
 ' (1909-12-25)',
 ' (1914-12-02)',
 ' (1904-06-02)',
 ' (1907-05-16)',
 ' (1902-01-23)',
 ' (1909-08-05)',
 ' (1911-06-06)',
 ' (1908-06-04)',
 ' (1912-01-27)',
 ' (1905-07-05)',
 ' (1907-03-01)',
 ' (1904-03-07)',
 '\n',
 ' (1913-01-01)',
 '\n',
 ' (1906-06-15)',
 '\n',
 ' (1907-12-23)',
 '\n',
 ' (1909-08-11)',
 ' (1910-02-10)',
 '\n',
 ' (1905-02-05)',
 '\n',
 ' (1909-10-23)',
 '\n',
 ' (1914-08-02)',
 ' (1914-08-02)',
 ' (1908-01-01)',
 ' (1909-01-01)',
 ' (1910-03-23)',
 ' (1911-06-11)',
 ' (1911-06-15)',
 ' (1912-05-16)',
 ' (1912-04-15)',
 ' (1912-05-30)',
 ' (1909-06-16)',
 ' (1907-11-01)',
 ' (1907-02-15)',
 ' (1914-06-16)',
 ' (1907-02-19)',
 ' (1913-08-21)',
 ' (1908-04-20)',
 ' (1907-12-10)',
 ' (1908-11-17)',
 ' (1913-07-14)',
 ' (1905-02-27)',
 ' (1905-12-25)',
 ' (1913-06-09)',
 ' (1913-02-13)',
 ' (1906-07-30)',
 ' (1908-12-30)',
 ' (1907-06-12)',
 ' (1909-07-15)',
 ' (1907-11-12)',
 ' (1910-03-23)',
 ' (1909-11-26)',
 ' (1907-01-04)',
 ' (1914-11-10)',
 ' (1900-01-01)',
 ' (1908-06-06)',
 ' (1908-12-09)',
 ' (1912-02-07)',
 ' (1908-06-18)',
 ' (1908-06-16)',
 ' (1912-03-10)',
 ' (1910-11-15)',
 ' (1906-11-13)',
 ' (1912-11-07)',
 ' (1909-01-25)',
 ' (1913-03-20)',
 ' (1913-03-01)',
 ' (1912-08-03)',
 ' (1912-04-16)',
 ' (1907-09-02)',
 ' (1911-11-20)',
 ' (1905-05-30)',
 ' (1911-08-19)',
 ' (1913-02-13)',
 ' (1908-12-29)',
 ' (1911-03-02)',
 ' (1913-03-05)',
 ' (1911-01-24)',
 ' (1908-06-09)',
 ' (1908-03-05)',
 ' (1912-02-08)',
 ' (1912-09-15)',
 ' (1911-05-22)',
 ' (1905-05-28)',
 ' (1910-09-04)',
 ' (1902-10-14)',
 ' (1912-03-12)',
 ' (1912-04-23)',
 ' (1906-06-30)',
 ' (1906-03-05)',
 ' (1909-02-11)',
 ' (1906-06-30)',
 ' (1908-11-20)',
 ' (1903-11-18)',
 ' (1909-12-02)',
 ' (1904-09-13)',
 ' (1914-04-05)',
 ' (1901-07-26)',
 ' (1904-10-07)',
 ' (1905-09-18)',
 ' (1902-11-20)',
 ' (1909-03-19)',
 ' (1907-12-06)',
 ' (1904-03-26)',
 ' (1910-07-11)',
 ' (1905-12-26)',
 ' (1907-11-22)',
 ' (1910-08-23)',
 ' (1901-05-15)',
 ' (1906-06-05)',
 ' (1901-12-02)',
 ' (1909-12-07)',
 ' (1902-02-25)',
 ' (1905-10-15)',
 ' (1905-12-26)',
 ' (1903-11-27)',
 ' (1909-04-16)',
 ' (1909-08-21)',
 ' (1903-02-17)',
 ' (1909-04-13)',
 ' (1912-09-28)',
 ' (1912-02-03)',
 ' (1910-11-25)',
 ' (1911-10-04)',
 ' (1910-11-10)',
 ' (1911-11-08)',
 ' (1911-11-03)',
 ' (1903-01-23)',
 ' (1903-08-05)',
 ' (1904-01-21)',
 ' (1910-10-07)',
 ' (1910-03-15)',
 ' (1904-01-12)',
 ' (1911-05-14)',
 ' (1915-04-29)',
 ' (1914-03-01)',
 ' (1909-02-21)',
 ' (1909-09-12)',
 ' (1910-05-14)',
 ' (1912-10-24)',
 ' (1912-02-26)',
 ' (1908-10-31)',
 ' (1908-08-10)',
 ' (1910-09-26)',
 ' (1910-08-12)',
 ' (1909-09-26)',
 ' (1911-12-19)',
 ' (1913-04-15)',
 ' (1911-01-23)',
 ' (1913-10-23)',
 ' (1911-12-29)',
 ' (1911-01-14)',
 ' (1907-04-06)',
 ' (1909-01-18)',
 ' (1910-12-30)',
 ' (1909-04-29)',
 ' (1905-08-12)',
 '2 March 1906 (aged 28)\n',
 ' (1906-01-11)',
 ' (1907-12-26)',
 ' (1912-02-09)',
 ' (1911-04-14)',
 ' (1912-11-05)',
 ' (1904-08-08)',
 ' (1912-10-14)',
 ' (1909-02-15)',
 ' (1905-12-08)',
 ' (1912-03-16)',
 ' (1907-12-31)',
 ' (1912-05-25)',
 ' (1912-02-11)',
 ' (1907-09-24)',
 ' (1906-09-04)',
 ' (1911-09-15)',
 ' (1909-03-28)',
 ' (1905-07-17)',
 ' (1908-07-01)',
 ' (1905-05-07)',
 ' (1906-12-16)',
 ' (1910-06-10)',
 ' (1901-01-21)',
 ' (1909-03-26)',
 ' (1910-05-07)',
 ' (1907-02-14)',
 ' (1906-01-18)',
 ' (1912-04-03)',
 ' (1909-10-01)',
 ' (1906-02-05)',
 ' (1905-09-16)',
 ' (1907-09-28)',
 ' (1906-07-17)',
 ' (1910-10-19)',
 ' (1907-07-17)',
 ' (1909-07-09)',
 ' (1905-01-04)',
 ' (1906-06-19)',
 ' (1905-10-16)',
 ' (1908-07-19)',
 ' (1903-03-03)',
 ' (1902-05-22)',
 ' (1906-10-29)',
 ' (1905-06-15)',
 ' (1909-03-07)',
 ' (1912-09-07)',
 ' (1911-08-29)',
 '1911\n',
 '\n',
 '\n',
 ' (1908-10-28)',
 ' (1914-11-10)',
 '\n',
 ' (1913-12-17)',
 ' (1913-02-04)',
 ' (1907-10-08)',
 ' (1911-08-02)',
 ' (1906-07-28)',
 ' (1911-06-09)',
 '\n',
 ' (1909-09-06)',
 ' (1913-08-05)',
 ' (1905-01-12)',
 ' (1907-11-03)',
 ' (1909-10-30)',
 ' (1903-12-04)',
 '1911\n',
 ' (1912-07-08)',
 ' (1905-09-20)',
 ' (1907-07-22)',
 ' (1910-01-10)',
 ' (1897-09-06)',
 ' (1901-06-07)',
 ' (1908-08-10)',
 ' (1910-04-11)',
 ' (1903-03-15)',
 ' (1901-12-20)',
 '\n',
 ' (1916-08-22)',
 ' (1904-01-27)',
 ' (1901-05-04)',
 ' (1904-02-24)',
 ' (1908-04-21)',
 '1907\n',
 ' (1908-01-10)',
 ' (1909-06-26)',
 ' (1912-02-11)',
 ' (1907-04-28)',
 ' (1918-03-03)',
 ' (1913-10-26)',
 ' (1916-02-28)',
 ' (1912-03-16)',
 ' (1908-09-12)',
 ' (1910-11-30)',
 ' (1917-04-05)',
 ' (1912-09-06)',
 ' (1914-01-30)',
 ' (1917-04-01)',
 ' (1912-11-29)',
 ' (1914-02-25)',
 ' (1912-02-12)',
 ' (1911-01-17)',
 ' (1907-11-02)',
 ' (1914-06-17)',
 ' (1916-09-07)',
 ' (1909-06-21)',
 ' (1910-05-10)',
 ' (1914-03-08)',
 ' (1915-06-03)',
 ' (1910-05-20)',
 ' (1911-04-21)',
 ' (1914-05-06)',
 ' (1912-11-19)',
 ' (1912-07-02)',
 ' (1909-12-07)',
 ' (1913-09-06)',
 ' (1910-11-01)',
 ' (1911-03-29)',
 ' (1909-01-01)',
 ' (1911-04-21)',
 ' (1912-12-08)',
 ' (1912-02-12)',
 ' (1910-11-12)',
 ' (1917-11-02)',
 ' (1912-06-20)',
 ' (1911-03-26)',
 ' (1915-02-20)',
 ' (1912-07-17)',
 ' (1913-08-12)',
 ' (1911-06-24)',
 ' (1914-11-12)',
 ' (1911-06-23)',
 ' (1915-09-03)',
 '1906\n',
 ' (1913-07-25)',
 ' (1916-01-22)',
 '1915\n',
 '1908\n',
 ' (1917-12-14)',
 '\n',
 '\n',
 ' (1912-06-26)',
 '1910\n',
 ' (1917-07-17)',
 ' (1912-11-13)',
 ' (1913-10-06)',
 ' (1906-03-07)',
 ' (1909-12-01)',
 ' (1910-02-01)',
 ' (1910-05-30)',
 ' (1912-09-27)',
 ' (1914-09-21)',
 ' (1912-10-14)',
 ' (1909-08-31)',
 ' (1912-05-09)',
 ' (1916-06-03)',
 ' (1909-12-26)',
 ' (1917-03-12)',
 ' (1916-05-20)',
 ' (1904-06-02)',
 ' (1907-05-16)',
 ' (1915-11-11)',
 ' (1911-03-28)',
 ' (1919-03-17)',
 ' (1916-10-04)',
 ' (1915-01-23)',
 ' (1914-03-21)',
 '\n',
 ' (1912-09-22)',
 '\n',
 ' (1915-09-28)',
 ' (1910-01-18)',
 ' (1911-01-01)',
 ' (1914-02-23)',
 ' (1918-03-29)',
 ' (1915-12-06)',
 '1909\n',
 ' (1916-01-12)',
 ' (1913-02-28)',
 '1910\n',
 '\n',
 '\n',
 '\n',
 ' (1912-05-16)',
 ' (1915-06-21)',
 ' (1912-10-25)',
 ' (1913-02-24)',
 ' (1913-03-19)',
 ' (1914-04-13)',
 ' (1912-05-30)',
 ' (1916-02-16)',
 ' (1907-11-01)',
 ' (1909-01-01)',
 ' (1910-11-10)',
 ' (1914-07-18)',
 ' (1913-12-29)',
 ' (1909-02-21)',
 ' (1913-12-27)',
 ' (1913-07-14)',
 ' (1905-12-25)',
 ' (1913-06-09)',
 ' (1914-07-19)',
 ' (1908-12-30)',
 ' (1907-06-12)',
 ' (1912-12-21)',
 ' (1909-11-26)',
 ' (1916-09-11)',
 ' (1914-05-01)',
 ' (1908-03-05)',
 ' (1914-04-14)',
 ' (1908-06-16)',
 ' (1912-03-10)',
 ' (1912-02-01)',
 ' (1914-05-07)',
 ' (1912-11-07)',
 ' (1906-12-09)',
 ' (1909-01-25)',
 ' (1919-02-08)',
 ' (1911-11-07)',
 ' (1911-02-07)',
 ' (1911-06-16)',
 ' (1912-08-03)',
 ' (1909-11-29)',
 ' (1916-12-11)',
 ' (1913-03-05)',
 ' (1907-09-02)',
 ' (1911-09-23)',
 ' (1912-09-21)',
 ' (1914-07-20)',
 ' (1911-08-19)',
 ' (1910-04-04)',
 ' (1911-02-13)',
 ' (1911-03-02)',
 ' (1906-07-17)',
 ' (1907-05-15)',
 ' (1911-01-24)',
 ' (1912-03-10)',
 ' (1912-02-08)',
 ' (1919-05-15)',
 ' (1912-09-15)',
 ' (1915-03-15)',
 ' (1910-09-04)',
 ' (1912-03-12)',
 ' (1912-04-23)',
 ' (1908-01-08)',
 ' (1909-02-11)',
 ' (1905-03-01)',
 ' (1908-11-20)',
 ' (1915-12-27)',
 ' (1912-09-06)',
 ' (1915-09-23)',
 ' (1915-04-04)',
 ' (1910-05-14)',
 ' (1916-04-19)',
 ' (1914-03-04)',
 ' (1910-09-29)',
 ' (1907-12-06)',
 ' (1912-02-15)',
 ' (1911-11-20)',
 ' (1912-03-01)',
 ' (1916-02-05)',
 ' (1907-11-22)',
 ' (1910-08-23)',
 ' (1906-06-05)',
 ' (1910-10-02)',
 ' (1914-07-12)',
 ' (1910-07-21)',
 ' (1911-06-07)',
 ' (1913-09-29)',
 ' (1916-01-21)',
 ' (1906-12-11)',
 ' (1903-11-27)',
 ' (1909-07-02)',
 ' (1914-01-19)',
 ' (1919-10-10)',
 ' (1920-01-14)',
 ' (1913-10-27)',
 ' (1914-05-23)',
 ' (1919-03-18)',
 ' (1912-09-30)',
 ' (1916-06-09)',
 ' (1911-10-04)',
 ' (1917-09-15)',
 ' (1913-06-23)',
 ' (1909-02-06)',
 ' (1911-11-03)',
 ' (1918-03-25)',
 ' (1904-01-21)',
 ' (1910-10-07)',
 ' (1913-06-25)',
 ' (1911-05-14)',
 ' (1914-03-01)',
 ' (1909-02-21)',
 ' (1912-04-14)',
 ' (1917-07-23)',
 ' (1911-03-05)',
 ' (1913-01-20)',
 ' (1911-03-03)',
 ' (1914-08-24)',
 ' (1912-04-28)',
 ' (1913-12-02)',
 ' (1910-10-13)',
 ' (1910-03-15)',
 ' (1904-07-21)',
 ' (1906-11-22)',
 ' (1914-07-23)',
 ' (1910-03-13)',
 ' (1913-09-18)',
 ' (1915-12-21)',
 ' (1913-01-05)',
 ' (1914-07-18)',
 ' (1913-06-23)',
 ' (1917-04-19)',
 ' (1911-12-29)',
 ' (1910-10-21)',
 ' (1920-04-26)',
 ' (1921-02-14)',
 ' (1917-03-22)',
 ' (1914-10-18)',
 ' (1906-06-04)',
 ' (1912-10-16)',
 ' (1916-01-18)',
 ' (1914-09-13)',
 ' (1914-11-11)',
 ' (1910-04-09)',
 ' (1907-05-27)',
 ' (1914-08-11)',
 ' (1914-05-24)',
 ' (1913-10-03)',
 ' (1913-08-17)',
 ' (1915-01-07)',
 ' (1909-09-07)',
 ' (1910-05-19)',
 ' (1914-02-12)',
 ' (1911-01-06)',
 ' (1916-06-23)',
 ' (1913-08-10)',
 ' (1910-05-14)',
 ' (1917-03-25)',
 ' (1912-10-24)',
 ' (1912-02-26)',
 ' (1915-03-06)',
 ' (1913-02-23)',
 ' (1908-10-31)',
 ' (1910-08-13)',
 ' (1913-11-21)',
 ' (1914-10-16)',
 ' (1909-09-26)',
 ' (1905-10-13)',
 ' (1914-03-01)',
 ' (1911-10-29)',
 ' (1913-08-17)',
 ' (1918-01-12)',
 ' (1912-04-26)',
 ' (1916-01-16)',
 ' (1915-02-10)',
 ' (1905-04-23)',
 ' (1914-08-16)',
 ' (1909-04-29)',
 ' (1909-10-29)',
 ' (1908-01-28)',
 ' (1917-04-22)',
 ' (1913-03-07)',
 ' (1915-08-21)',
 ' (1912-04-03)',
 ' (1909-12-25)',
 ' (1914-11-05)',
 ' (1911-05-09)',
 ' (1914-04-17)',
 ' (1909-07-09)',
 ' (1907-09-07)',
 ' (1905-01-04)',
 ' (1916-02-22)',
 ' (1916-08-06)',
 ' ( 1916-01-05)',
 ' (1913-06-20)',
 ' (1909-11-19)',
 ' (1913-03-23)',
 ' (1915-03-24)',
 '\n',
 ' (1911-10-15)',
 ' (1909-03-07)',
 ' (1910-09-10)',
 ' (1910-09-10)',
 ' (1912-03-14)',
 ' (1918-10-20)',
 ' (1918-05-02)',
 ' (1912-09-07)',
 ' (1914-11-15)',
 ' (1910-02-05)',
 ' (1914-11-10)',
 ' (1913-12-17)',
 ' (1911-06-09)',
 ' (1909-01-26)',
 ' (1913-03-15)',
 ' (1909-09-06)',
 ' (1914-03-20)',
 ' (1914-06-16)',
 ' (1908-12-04)',
 ' (1908-09-01)',
 ' (1907-05-12)',
 ' (1913-12-21)',
 ' (1916-06-20)',
 ' (1917-02-18)',
 ' (1926-04-06)',
 ' (1923-11-11)',
 ' (1920-12-21)',
 ' (1921-01-25)',
 ' (1927-03-07)',
 ' (1922-03-05)',
 ' (1925-10-21)',
 ' (1923-11-18)',
 ' (1923-07-07)',
 ' (1924-07-28)',
 ' (1923-09-17)',
 ' (1927-04-13)',
 ' (1925-09-01)',
 ' (1925-01-17)',
 ' (1928-01-04)',
 ' (1927-02-28)',
 ' (1923-08-03)',
 ' (1922-07-22)',
 ' (1926-05-05)',
 ' (1925-05-10)',
 ' (1921-03-27)',
 ' (1920-10-22)',
 ' (1925-05-16)',
 ' (1925-11-21)',
 ' (1920-12-03)',
 ' (1922-04-04)',
 ' (1924-10-20)',
 ' (1922-09-14)',
 ' (1922-11-06)',
 ' (1921-03-21)',
 ' (1922-01-07)',
 ' (1923-04-02)',
 ' (1920-01-01)',
 ' (1926-01-14)',
 ' (1927-11-27)',
 ' (1921-05-14)',
 ' (1923-11-27)',
 ' (1926-01-28)',
 ' (1921-03-27)',
 ' (1918-09-25)',
 ' (1925-06-27)',
 ' (1922-08-02)',
 ' (1928-05-23)',
 ' (1920-10-15)',
 ' (1923-10-15)',
 ' (1922-08-19)',
 ' (1923-03-08)',
 ' (1930-12-29)',
 ' (1927-09-01)',
 ' (1920-10-11)',
 ' (1930-11-28)',
 ' (1928-02-02)',
 ' (1920-03-26)',
 ' (1924-06-06)',
 ' (1925-01-15)',
 ' (1928-04-28)',
 ' (1928-12-19)',
 ' (1924-09-15)',
 ' (1920-06-27)',
 ' (1926-04-14)',
 ' (1928-10-02)',
 ' (1930-07-24)',
 ' (1923-08-13)',
 ' (1920-12-14)',
 ' (1921-09-03)',
 ' (1925-08-06)',
 ' (1924-05-17)',
 ' (1921-09-14)',
 ' (1925-04-25)',
 ' (1921-10-24)',
 ' (1925-07-16)',
 ' (1922-04-05)',
 ' (1924-03-02)',
 ' (1918-05-16)',
 ' (1915-02-01)',
 ' (1924-05-11)',
 ' (1921-05-26)',
 ' (1923-01-06)',
 ' (1919-01-26)',
 ' (1920-01-22)',
 ' (1917-04-23)',
 ' (1917-11-05)',
 ' (1920-03-07)',
 ' (1920-01-31)',
 ' (1924-02-06)',
 ' (1921-07-26)',
 ' (1925-05-24)',
 ' (1923-05-24)',
 ' (1928-07-04)',
 ' (1919-04-07)',
 ' (1920-06-02)',
 ' (1928-09-30)',
 ' (1922-07-01)',
 ' (1922-04-10)',
 ' (1922-06-22)',
 ' (1923-01-19)',
 ' (1924-07-30)',
 ' (1925-12-20)',
 ' (1923-03-09)',
 ' (1924-10-17)',
 ' (1921-01-16)',
 ...]

After looking these values for a while, we've found a couple of patterns.
1) (d-d-d) where d stands for digit
2) d w d (w d) where w stands for letters and d for digits
3) d\n     again, d is a digit and \n is the new line char
4) \n      a mere new line char

In [65]:
# Remove all whitespaces to avoid losing data while using reverse split with whitespaces as separators.
df.birthday = df.birthday.apply(lambda x: x.strip())

In [66]:
# Remove all the chars to the right of the year digit in the data with the second pattern type.
df.birthday = df.birthday.apply(lambda x: x.rsplit(' ', maxsplit = 2)[0])

In [67]:
# remove the parentheses
df.birthday = df.birthday.apply(lambda x: x.replace('(','').replace(')',''))

For data containing only one year, We'll impute the median date of that year, that's July 2.

In [68]:
indices = df[(df.birthday.str.len() == 4)].index.tolist()  # filter by those cells having only one year value

In [69]:
def complete_birthday(bd_string):
    if len(bd_string) == 4:
        bd_string = f'{bd_string}-07-02'
         
    return bd_string

In [70]:
df.birthday = df.birthday.apply(lambda x: complete_birthday(x))

We've imputed some birthdays, now we'll record this imputation in the corresponding column.

In [71]:
for index in indices:
    old = df.at[index,'imputed']
    if old == '-':
        old =  old.replace('-', '')
    df.at[index,'imputed'] = old + ' birthday'

Now let's change the data type in this column, this should be final the step for this field.

In [72]:
df['birthday'] = pd.to_datetime(df['birthday'])

In [73]:
df.birthday.isna().sum()

40

There are still 40 null birthday values, but we are good to go because we need this field to calculate players' age. So, we can take a central tendency measure for their age, later.

## Normalize column club

In [74]:
# Aplicar unidecode a la columna 'club' y crear una nueva columna
df['club'] = df['club'].apply(lambda x: unidecode(x))

In [75]:
# Utilizar el método .str.replace() para realizar la sustitución.Es lo mismo que hacerlo con apply + función anónima pero 
# más eficiente.
df['club'] = df['club'].str.replace(r'\[[^\]]*\]', '', regex=True)

df['club'] = df['club'].str.replace('1. FC ', '', regex = False)
df['club'] = df['club'].str.replace('1. ', '', regex = False)

df['club'] = df['club'].str.replace(r'(^|\s)(AC|A\.C\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(CD|C\.D\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(CF|C\.F\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(Club)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(FC|F\.C\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(SC|S\.C\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(SK|S\.K\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace(r'(^|\s)(AS|A\.S\.)(\s|$)', '', regex=True)

df['club'] = df['club'].str.replace('Al-', 'Al ', regex = False)

In [76]:
normalized_names = { 'Admira/Wacker': 'Admira Wacker', 'Ajax': 'Ajax Amsterdam', 'Atletico Bilbao': 'Athletic Bilbao',
                    'Atlético Bilbao': 'Athletic Bilbao', 'Atletico de Bilbao': 'Athletic Bilbao', 
                    'Austria Vienna': 'Austria Wien', 'BV Borussia Dortmund': 'Borussia Dortmund',
                    'Bayern Munich': 'Bayern Munchen', "Beijing Guo'an": 'Beijing Guoan', 'Besiktas': 'Besiktas J. K.', 
                    'Bournemouth': 'AFC Bournemouth', 'CSKA SZ Sofia': 'CSKA Sofia', 'Colo Colo': 'Colo-Colo', 
                    'Cotonsport Garoua': 'Cottonsport Garoua',    'DFS Lokomotiv Plovdiv': 'DFS Lokomotiv Plovdiv',
                    'Dynamo Minsk,': 'Dinamo Minsk', 'Estudiantes La Plata': 'Estudiantes', 
                    'Estudiantes (LP)': 'Estudiantes', 'ExcelsiorRoubaix': 'Excelsior Roubaix',
                    'Ferencvaros': 'Ferencvarosi', 'Ferencvarosi TC': 'Ferencvarosi','Feijenoord': 'Feyenoord',
                    'Feyenoord Rotterdam': 'Feyenoord', 'Flamengo*': 'Flamengo', 'Free agent': 'Free Agent',
                    'GrasshopperZurich': 'Grasshopper Zurich', 'GrasshoppersZurich': 'Grasshopper Zurich',
                    'Internazionale': 'Inter Milan', 'Internazionale Milano': 'Inter Milan',
                    'Internazionale Milan': 'Inter Milan', 'Lille OSC': 'Lille', 'Malmo FF': 'Malmo',
                    'Moscow': 'CSKA Moscow', 'Lyon': 'Olympique Lyon', 'Marseille': 'Olympique Marseille',
                    'Olympique de Marseille': 'Olympique Marseille', 'PSV': 'PSV Eindhoven',
                    'Racingde France': 'Racing Paris', 'Rapid Vienna': 'Rapid Wien',
                    'Royal Olympicde Charleroi': 'Olympic Charleroi', 'Royal Racingde Bruxelles': 'Royal Racing Bruxelles',
                    'Royal Racingde Gand': 'Royal Racing Gand', 'Royal DaringMolenbeek': 'Royal Daring Molenbeek',
                    'Royal StandardLiege': 'Royal Standard Liege', 'RoyalBrugeois': 'Brugge KV', 'Brujas': 'Brugge KV',
                    'Royal Brugeois': 'Brugge KV', 'RoyalLiegeois': 'Liege', 'RoyalMalinois': 'Royal Malinois',
                    'SG Dynamo Dresden': 'Dynamo Dresden', 'Talleres de Cordoba': 'Talleres',
                    'Tatabanyai Banyasz': 'Tatabanyai Banyasz SE', 'Tecos UAG': 'Tecos', 'Tianjin TEDA': 'Tianjin Teda',
                    'Tigres UANL': 'Tigres', 'UANL': 'Tigres', 'UNAM Pumas': 'Pumas', 'UNAM': 'Pumas', 
                    'Union St. Gilloise': 'Union Royale Saint-Gilloise', 'White Star Brussel': 'White Star'                                            
                    }

In [77]:
# Aplicar los cambios en la columna
df['club'] = df['club'].replace(normalized_names)

In [78]:
#clubs = df.club.to_frame()
#clubs = clubs.club.drop_duplicates().to_frame()
#clubs = clubs.sort_values(by = 'club').reset_index(drop = True)

In [79]:
#clubs

### Create the  column 'age'

In [80]:
df

,player,national_team,position,birthday,caps,club,club_origin,wc_date,year,imputed
0,Angel Bossio,Argentina,GK,1905-05-05,16,Talleres (BA),Argentina,1930-07-17,1930,-
1,Juan Botasso,Argentina,GK,1908-10-23,2,Argentino (Q),Argentina,1930-07-17,1930,-
2,Roberto Cherro,Argentina,FW,1907-02-23,10,Boca Juniors,Argentina,1930-07-17,1930,-
3,Alberto Chividini,Argentina,DF,1907-02-23,2,Central Norte,Argentina,1930-07-17,1930,-
4,Attilio Demaria,Argentina,FW,1909-03-19,0,Estudiantil Porteno,Argentina,1930-07-17,1930,-
...,...,...,...,...,...,...,...,...,...,...
10959,Sorba Thomas,Wales,MF,1999-01-25,6,Huddersfield Town,England,2022-11-20,2022,-
10960,Dylan Levitt,Wales,MF,2000-11-17,13,Dundee United,Scotland,2022-11-20,2022,-
10961,Ben Cabango,Wales,DF,2000-05-30,5,Swansea City,Wales,2022-11-20,2022,-
10962,Rubin Colwill,Wales,MF,2002-04-27,7,Cardiff City,Wales,2022-11-20,2022,-
10963,Matthew Smith,Wales,MF,1999-11-22,19,Milton Keynes Dons,England,2022-11-20,2022,-

In [81]:
df['age'] =  (df['wc_date'] - df['birthday']).dt.days //365

We want to fill these missing values with the median age of the world cup that the footballers with no age registered played in.

In [82]:
# This function receives an index list to point to the rows were we want to apply the changes
def fill_nan_age(indices_list, wc_age_median, column_name, year):
    for ind in indices_list:
        # If the year passed as a parameter matches the value in the column 'year' at the given index,
        if df.at[ind, 'year'] == year:
            # fill the missing value with the median of the corresponding world cup
            df.at[ind, column_name] = wc_age_median
            # then call another function to record the imputation
            record_age_imputation(ind, column_name)

In [83]:
def record_age_imputation(an_index, column_name):
    old = df.at[an_index, 'imputed'] 
    if old == '-':
        old =  old.replace('-', '')
    df.at[an_index, 'imputed'] = old + ' ' + column_name

In [84]:
# get all the nan values in the corresponding column
dfna= df[df.age.isna() == True]
#dfna

In [85]:
# make a list with the indices of the rows containing nan values in the column 'age' 
dfnaList = df[df.age.isna() == True].index.tolist()

In [86]:
# Get all the years of the World Cups corresponding to these missing values,
for year in dfna.year.unique():
    # and for each World Cup calculate the players' median age
    median = df[df['year'] == year].age.median()
    # fill the measing values with the calculated median
    fill_nan_age(dfnaList, median, 'age', year)

In [87]:
df.age = df.age.astype(int)

## Add a new 'confederation' column

We'll use pycountry to convert country names to continent names

In [88]:
# create the new column
df['confederation'] = ' '

In [89]:
# dictionary with all the countries names that pycountry couldn't procces
non_listed = {'China PR': 'Asia',
             'Czechoslovakia': 'Europe',
             'Dutch East Indies': 'Asia',
             'East Germany': 'Europe',
             'England':'Europe',
             'Northern Ireland':'Europe',
             'Republic of Ireland':'Europe',
             'Scotland': 'Europe',
             'Serbia and Montenegro': 'Europe',
             'Soviet Union': 'Europe',
             'Wales': 'Europe',
             'West Germany': 'Europe',
             'Yugoslavia': 'Europe',
             'Zaire': 'Africa'}

In [90]:
# this function takes a country name and returns the corresponding continent name
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        
    except KeyError:
        country_continent_name =  non_listed.get(country_name)
    return country_continent_name

In [91]:
df['confederation'] = df.national_team.apply(lambda x: country_to_continent(x))

In [92]:
# Change the order of the columns
df = df[['player','national_team','position','birthday','age','caps',
         'club','club_origin','wc_date','year','confederation','imputed']]

## Save as csv

In [93]:
df.to_csv('dataSets\\allTimeSquads.csv', index = False)