In [4]:
import pandas as pd
import geopandas as gpd

In [5]:
# Load the shape file 
world = gpd.read_file('world_countries\\World_Countries.shp')
world = world.rename(columns={'COUNTRY': 'country' })

In [6]:
world

                   country                                           geometry
0      Aruba (Netherlands)  POLYGON ((-69.88223 12.41111, -69.94695 12.436...
1      Antigua and Barbuda  MULTIPOLYGON (((-61.73889 17.54055, -61.75195 ...
2              Afghanistan  POLYGON ((61.27656 35.60725, 61.29638 35.62853...
3                  Algeria  POLYGON ((-5.15213 30.18047, -5.13917 30.19236...
4               Azerbaijan  MULTIPOLYGON (((46.54037 38.87559, 46.49554 38...
..                     ...                                                ...
247            South Sudan  POLYGON ((34.21807 9.96458, 34.20722 9.90500, ...
248              Indonesia  MULTIPOLYGON (((123.21846 -10.80917, 123.19832...
249             East Timor  MULTIPOLYGON (((124.41824 -9.30010, 124.40446 ...
250  Curacao (Netherlands)  POLYGON ((-68.96556 12.19889, -68.91196 12.181...
251  Bonaire (Netherlands)  POLYGON ((-68.19736 12.22264, -68.19292 12.207...

[252 rows x 2 columns]

In [8]:
# Let's eliminate Antarctica
world.iloc[14]
world.drop(14, inplace=True)
world = world.reset_index(drop=True)

In [11]:
uk =  gpd.read_file('NUTS1\\NUTS1_Jan_2018_UGCB_in_the_UK.shp')

In [12]:
#uk

In [13]:
uk.drop(['nuts118cd', 'bng_e', 'bng_n', 'long', 'lat', 'GlobalID'], axis = 1, inplace = True)

In [14]:
uk = uk.rename(columns={'nuts118nm': 'country'})

In [15]:
uk.crs

<Projected CRS: EPSG:27700>
Name: OSGB36 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49°45'N to 61°N and 9°W to 2°E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.01, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: Ordnance Survey of Great Britain 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [16]:
world.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

As we can see, our GeoDataFrames use different coordinate reference systems. So, we need to reconcile this data.

In [17]:
# Assign the crs value to uk GeoDataFrame
uk = uk.to_crs('EPSG:4326')

In [18]:
# Create one dataframe containing England regions
england = uk.iloc[:9]
# and another one for the other 3 UK countries
other = uk.iloc[-3:]

In [19]:
england

                    country                                           geometry
0      North East (England)  MULTIPOLYGON (((-2.03439 55.81108, -2.00157 55...
1      North West (England)  MULTIPOLYGON (((-2.67455 55.17589, -2.67732 55...
2  Yorkshire and The Humber  POLYGON ((-0.76477 54.54797, -0.74464 54.52853...
3   East Midlands (England)  POLYGON ((-0.24847 53.59364, -0.25139 53.58463...
4   West Midlands (England)  POLYGON ((-1.86073 53.18841, -1.81254 53.15433...
5           East of England  MULTIPOLYGON (((0.97708 52.97996, 1.10538 52.9...
6                    London  POLYGON ((-0.01195 51.68088, -0.01229 51.64623...
7      South East (England)  MULTIPOLYGON (((-0.62747 52.18153, -0.63069 52...
8      South West (England)  MULTIPOLYGON (((-1.76766 52.11258, -1.74603 52...

In [20]:
other

             country                                           geometry
9              Wales  MULTIPOLYGON (((-3.28000 53.32257, -3.26789 53...
10          Scotland  MULTIPOLYGON (((-3.38105 58.67060, -3.37680 58...
11  Northern Ireland  MULTIPOLYGON (((-6.45497 55.23905, -6.40933 55...

In [21]:
# Convert England regions dataframe to a  GeoDataFrame
eng_gdf = gpd.GeoDataFrame(england, geometry='geometry')

# save the GeoDataFrame
eng_gdf.to_file('england\\regions\\england_regions.shp')

In [22]:
england_regions =  gpd.read_file('england\\regions\\england_regions.shp')

In [23]:
england_regions

                    country                                           geometry
0      North East (England)  MULTIPOLYGON (((-2.03439 55.81108, -2.00157 55...
1      North West (England)  MULTIPOLYGON (((-2.67455 55.17589, -2.67732 55...
2  Yorkshire and The Humber  POLYGON ((-0.76477 54.54797, -0.74464 54.52853...
3   East Midlands (England)  POLYGON ((-0.24847 53.59364, -0.25139 53.58463...
4   West Midlands (England)  POLYGON ((-1.86073 53.18841, -1.81254 53.15433...
5           East of England  MULTIPOLYGON (((0.97708 52.97996, 1.10538 52.9...
6                    London  POLYGON ((-0.01195 51.68088, -0.01229 51.64623...
7      South East (England)  MULTIPOLYGON (((-0.62747 52.18153, -0.63069 52...
8      South West (England)  MULTIPOLYGON (((-1.76766 52.11258, -1.74603 52...

In [24]:
# join all the polygons to get the shape of England
england = england_regions.unary_union

In [25]:
# Create a new GeoDataFrame of England
england_gdf = gpd.GeoDataFrame({'country': 'England', 'geometry': [england]})

# We need to specify a coordinate reference system(CRS) for our new GeoDataFrame
england_gdf.crs = 'EPSG:4326'
# save it
england_gdf.to_file('england\\country\\england.shp')

In [26]:
# Add England to 'world' GeoDataFrame
world = pd.concat([world, england_gdf], ignore_index=True)

In [27]:
# Create a GeoDataFrame for Wales, Scotland and Nothern Ireland
other_gdf = gpd.GeoDataFrame(other, geometry='geometry')


# We need to specify a coordinate reference system(CRS) for our new GeoDataFrame
other_gdf.crs = 'EPSG:4326'


# save to a shapefile
other_gdf.to_file('rest_of_uk\\other.shp')

In [28]:
# Add the other three countries to 'world'
world = pd.concat([world, other], ignore_index=True)

In [29]:
# Finally, save to a shapefile
world.to_file('world_new\\world.shp')